<!-- templates/home.html -->
<html>
<head>
    <title>Welcome to Our Site</title>
</head>
<body>
    <h1>Welcome to Our Site</h1>
    <p>This is the homepage.</p>
    <h2>Available URLs:</h2>
    <ul>
        {% for url in urls %}
            <li><a href="{{ url }}">{{ url }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>