<!-- templates/account_balance.html -->
<html>
<head>
    <title>Account Balance</title>
</head>
<body>
    <h1>Your Bank Account</h1>
    <p>Account Number: {{ bank_account.account_number }}</p>
    <p>Balance: {{ bank_account.balance }}</p>
</body>
</html>
