<!-- templates/transfer.html -->
<html>
<head>
    <title>Transfer</title>
</head>
<body>
    <h1>Transfer</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Transfer</button>
    </form>
</body>
</html>
